/BackupCow.identcache
/BackupCow.res
/BackupCow_Client.dproj.local
/BackupCow_Client.identcache
/BackupCow_Client.res
/BackupCow_Icon.ico
/MangoBackup.dproj
/ProjectGroup1.groupproj
/ProjectGroup1.groupproj.local
/Debug
